<div>
    <!-- Navbar -->
<div class="row justify-content-md-center m-0 mt-md-0 mt-sm-0" >
        <!-- style="border-bottom: 2px solid #d3af37" -->
    <nav class="navbar navbar-expand-lg navbar-light col-md-12 col-sm-12">
        <a class="navbar-brand" href="{{ site.url }}/">
            <img src="{{ site.url }}/resources/Logo-Transparent.png" width="50" height="50" alt="" style="border-radius: 5px;">
        </a>
        <a class="navbar-brand" href="{{ site.url }}/">Excalibur 6738</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="border: 1px solid #d3af37;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.url }}/"><b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.url }}/seasons/">Seasons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.url }}/outreach/">Outreach</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.url }}/resources/">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.url }}/sponsors/">Sponsors</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ site.url }}/AboutUs.html">About the Team</a>
                        <a class="dropdown-item" href="{{ site.url }}/AboutFRC.html">About FRC</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>