#navContainer {
  width: 100%;
  top: 0;
}

@media (min-width: 991px) {
  #content {
    margin-top: 76px !important;
  }
  #navContainer {
    position: fixed;
    z-index: 100;
  }
}

* {
  border-radius: 0%;
  color: #d3af37;
}

footer {
  color: #d3af37 !important;
}

body {
  background-color: #012265;
}

p {
  text-indent: 0% !important;
}

.navbar {
  background-color: #001e59;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus,
.navbar .navbar-text,
.navbar .navbar-text a,
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #d3af37;
}

.navbar .navbar-nav .nav-link {
  color: #d3af37;
  border-radius: .25rem;
  margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus,
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #d3af37;
  /* background-color: #00459c; */
}

/* .navbar .navbar-toggle {
  border-color: #00459c;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #00459c;
} */
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #d3af37;
}

.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #d3af37;
}

.navbar .navbar-link,
.navbar .navbar-link:hover {
  color: #d3af37;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #d3af37;
  }

  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #d3af37;
  }

  .navbar-expand-sm .navbar-nav {
    color: #d3af37;
    /* background-color: #00459c; */
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #d3af37;
  }

  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #d3af37;
  }

  .navbar-expand-md .navbar-nav .show {
    color: #d3af37;
    /* background-color: #00459c; */
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #d3af37;
  }

  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #d3af37;
  }

  .navbar-expand-lg .navbar-nav {
    color: #d3af37;
    /* background-color: #00459c; */
  }
}

/* .show .dropdown-menu .dropdown-item.active  */

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #d3af37;
  }

  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #d3af37;
  }

  .navbar-expand-xl .navbar-nav {
    color: #d3af37;
    background-color: #00459c;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #d3af37;
}

.navbar-expand .navbar-nav {
  color: #d3af37;
  background-color: #00459c;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}


td i {
  font-size: 30px !important;
}

.carousel-item img {
  object-fit: cover !important;
  width: 100% !important;
}

/* Contact */

#contactinfo {
  color: #d3af37 !important;
}

/* Seasons */

h5 .btn-link {
  background-color: #001e59 !important;
  color: #d3af37 !important;
}

.card-header {
  background-color: #001e59 !important;
}

.card {
  border-color: #d3af37 !important;
}

.collapse, .collapsing {
  background-color: #001e59 !important;
  color: #d3af37 !important;
}

a {
  color: #d3af37 !important;
}

.dayinfo {
  font-size: 3.5vh !important;
}

.maincontact {
  margin: 1vh !important;
}

.nav-item.show {
  background: #001e59 !important;
}

.nav-item, .nav-link {
  background: #001e59 !important;
  border-radius: 2px;
  transition: ease 0.2s;
}

.nav-item:hover, .nav-link:hover {
  background: #012265 !important;
  transition: ease 0.2s;
}

.dropdown-menu {
  background: #012265;
  border-radius: 2px;
}

.dropdown-item {
  background: #012265;
  color: #d3af37;
  transition: ease 0.1s;
}

.dropdown-item:hover {
  background: #d3af37;
  color: #012265 !important;
  transition: ease 0.1s;
}

h1, h2, h3 {
  color: #d3af37;
}

span5 {
  color: #d3af37
}

p {
  text-indent: 30px;
  color: #d3af37
}

div {
  background-color: #012265;
}

